{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387

    // example javaFX SDK lib path: `C:\\Program Files\\Java\\javafx-sdk-23.0.1\\lib`
    "version": "0.2.0",
    "configurations": [
        {
            "command": "mvn javafx:run",
            "name": "BitShifters",
            "request": "launch",
            "type": "node-terminal"
        },
        {
            "type": "java",
            "name": "BitShifters",
            "request": "launch",
            "vmArgs": "--module-path \"<path to JavaFX SDK lib version 23.0.1>\" --add-modules javafx.controls,javafx.fxml,javafx.web",
            "mainClass": "org.bitshifters.gameclient.Main",
            "projectName": "gameclient",
            // "args": "@.\\<parameters_file>"
        },
              {
            "type": "java",
            "name": "Current File",
            "request": "launch",
            "vmArgs": "--module-path \"<path to JavaFX SDK lib version 23.0.1>\" --add-modules javafx.controls,javafx.fxml,javafx.web",
            "mainClass": "${file}",
            // "args": "@.\\<parameters_file>"
        },
    ]
}
